+comment('general style')
+ic
@each $ic in content1
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)
@each $ic in content2
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)
@each $ic in content3
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)    
@each $ic in contact1
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)
@each $ic in contact2
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)
@each $ic in contact3
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)   
@each $ic in adv1
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)   
@each $ic in adv2
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)  
@each $ic in adv3
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)      
@each $ic in adv4
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)
@each $ic in adv5
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in adv6
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in adv7
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in adv8
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in adv9
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)      
@each $ic in advh1
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)   
@each $ic in advh2
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)  
@each $ic in advh3
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)      
@each $ic in advh4
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72)
@each $ic in advh5
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in advh6
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in advh7
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in advh8
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in advh9
  .ic-#{$ic}
    +svgb(#{$ic}, 72, 72) 
@each $ic in eye2
  .ic-#{$ic}
    +svgb(#{$ic}, 36, 26)                           
.text-danger
  color: #e74c3c
  text-align: left
.form
  &__input
    background-color: transparent
    font: 400 16px/18px $roboto
    padding: 15px 0 15px 20px
    color: #fff
    text-align: left
    +br(32px)
    border: 2px solid rgba(255,255,255,0.5)
    +placeholder
      color: #fff
    &:hover
      border-color: rgba(255,255,255,1)  
    &:focus
      border-color: rgba(253, 173, 0, 1)
.btn
  &__call
    width: 100%
    text-align: center
    font: 700 16px/20px $roboto
    padding: 15px 0    
    +br(32px)
    border: 0  
.g
  &-heading
    font: 700 40px/40px $roboto
    margin-top: 0
    margin-bottom: 15px
    text-align: center
  &-subheading
    font: 400 16px/18px $roboto
    margin: 0    
    text-align: center
+comment("home page style")
html
  overflow-x: hidden
  background-color: #f3f3f3
  height: 100%
body
  padding-right: 0 !important  
a,
a:hover,
a:focus
  text-decoration: none
  outline: none  
+comment("header style") 
.header
  position: relative
  overflow: hidden
  &:after
    content: ''
    position: absolute
    display: block
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-color: rgba(49, 52, 59, 0.698)
  &__video
.video
  position: absolute
  height: 100%
  top: 0
  left: 0
  &__bg
    height: 100%
    width: 100%
    background-color: rgba(255,255,255,0.5) 
.navbar
  border: 0
  background-color: transparent
  margin-bottom: 0
  &__brand
    height: auto
    padding: 22px 0 15px
    width: 140px
  &__nav
    padding-top: 20px  
  &__point  
    font: 400 14px/14px $roboto
    color: inherit
  &__menu
    color: #fff  
    +transition(all .3s ease-out)
    &:hover
      transform: translate(0,-10px)
      +transition(all .3s ease-out)
  &__phone
    padding-top: 35px 
    color: #fff 
.affix
  background-color: rgba(49, 52, 59, 0.97)
  +transition(all 0.3s ease-out)        
.brand
  &__descr
    font-size: 8px
    color: #fff
    text-align: left
    line-height: 16px
.phone
  &__link
    font: 400 18px/20px $roboto
    text-align: right
    color: inherit
+comment("content style") 
.content
  position: relative
  margin-top: 100px
  padding: 90px 0 100px
  text-align: center
  z-index: 1
  &__heading
    font: 700 64px/80px $roboto
    color: #fff
    margin-bottom: 45px
    margin-top: 0
  &__form
    margin-bottom: 70px  
  &__box
    opacity: 0.5
    .ic
      float: left 
    &:hover
      color: #fff  
      opacity: 1 
      cursor: pointer
  &__text
    padding-top: 18px
    color: #fff
    font: 400 16px/18px $roboto 
    text-align: center
  &__btn  
    color: rgba(49, 52, 59, 0.9)
    background-color: rgba(253, 173, 0, 1)
    +bs(0px 10px 20px rgba(223, 114, 21, 0.2))
.work
  &__item
    display: inline-block
    vertical-align: middle
    opacity: .5
    cursor: pointer
    +transition(all .4s ease-out)
    &:hover
      opacity: 1 
  &__icon
    float: left
  &__text
    margin: 0
    padding-top: 18px
    color: #fff
    font: 400 16px/18px $roboto 
    text-align: left

.form__heading
  color: #fff
  font: 300 40px/40px $roboto
  margin-bottom: 30px   
.contact
  padding: 15px 0 25px
  position: relative
  z-index: 20
  height: 150px
  background-color: rgba(255, 197, 0, 0.8)
  &__box
    text-align: center  
    +transition(all .3s ease-out)
    .ic
      margin-bottom: 10px 
      +transition(all .3s ease-out)  
    &:hover 
      .ic
        transform: translate(0,-10px)
        +transition(all .3s ease-out) 
      .contact__name
        display: block
        opacity: 1
        +transition(all 1s ease-out) 
  &__info
    margin-bottom: 0  
    font: 400 16px/16px $roboto
    color: #333
    text-align: center
  &__name
    display: none
    opacity: 0 
    font: 400 16px/16px $roboto
    color: #333
    text-align: center
    margin-bottom: 10px
+comment("price style") 
.price
  padding: 55px 0 100px
  &__heading
    color: #31343B
    text-transform: uppercase
  &__subheading
    color: #31343B 
    margin-bottom: 25px 
  &__box
    text-align: center  
  &__img
    display: inline-block
    margin: 50px 0 25px
    position: relative
    +transition(all .3s ease-out)
    &:hover
      transform: translate(0,-10px)
      +transition(all .3s ease-out)
      .price__img--hover
        +transition(all .3s ease-out)
        opacity: 1
        &text
          transform: translate(0,-10px)
          +transition(all .5s ease-out)
      ~.price__subscribe .price__line
        width: 100px    
        +transition(all .5s ease-out) 
    &--hover
      display: inline-block
      height: 100%
      width: 100%
      left: 0
      top: 0
      position: absolute
      background-color: rgba(0,0,0,0.5)
      opacity: 0
      +br(50%)
      padding: 0 40px
      line-height: 240px
      opacity: 0
      +transition(all .3s ease-out)
      &text
        color: #fff
        vertical-align: middle
        font: 400 16px/normal $roboto
        display: inline-block      
  &__service
    margin-bottom: 10px
    font: 300 20px/22px $roboto
    color: #31343B 
  &__cost
    font: 700 20px/22px $roboto
    margin-bottom: 10px
  &__line
    margin: 0 auto
    background-color: rgba(255, 197, 0, 1)  
    height: 3px
    width: 0
    +transition(all .3s ease-out)
  &__btn
    margin-top: 50px
    border: 2px solid #31343B
    color: #31343B
    display: inline-block
    +transition(all .3s ease-out)
    &:hover,
    &:focus,
    &:active
      color: #fff
      background-color: #31343B
      transform: translate(0,-15px)
      +transition(all .3s ease-out)
+comment("advatage style")       
.advantage
  padding: 65px 0
  background: rgba(58, 63, 71, 1) url(../img/advbg.png) repeat
  &__heading
    color: #fff
    text-transform: uppercase
  &__subheading
    margin-bottom: 55px
    color: #fff
  &__box
    text-align: center
    padding: 40px 50px 40px
    background-color: rgb(50,50,60)
    margin-bottom: 20px
    +transition(all .3s ease-out)
    &:hover
      background-color: rgba(255, 197, 0, 1)
      +transition(all .3s ease-out)
      .ic,
      .advantage__text
        visibility: hidden
        opacity: 0
        +transition(all .3s ease-out)
      .advantage__ic--hover
        display: inline-block
        opacity: 1
        visibility: visible
        transform: translate(0,-20px)
        +transition(all .3s ease-out)
      .advantage__text--hover
        opacity: 1
        visibility: visible
        transform: translate(0,20px)
        +transition(all .3s ease-out)
  &__ic
    opacity: 1
    visibility: visible
    &--hover
      opacity: 0 
      visibility: hidden
    &ons
      position: relative  
      height: 72px
      .ic
        position: absolute
        left: 50%    
        margin-left: -36px
  &__text
    color: #fff
    font: 400 20px/24px $roboto
    opacity: 1
    visibility: visible
    margin-bottom: -60px
    position: relative
    top: 50px
    &--hover
      font: 400 16px/20px $roboto
      opacity: 0
      visibility: hidden
      margin: 0
      position: static
  &__btn
    &--box
      text-align: center
      padding: 40px
      +bs(0 0 0 2px rgba(255, 197, 0, 1) inset) 
      font: 400 24px/28px $roboto  
      color: rgba(255, 197, 0, 1)
      line-height: 220px
      &:hover
        color: #fff
        cursor: pointer
    &--text
      display: inline-block
      vertical-align: middle
      line-height: normal   
+comment("scheme style") 
.scheme
  padding: 50px 0
  background-color: rgba(244, 243, 241, 1)
  &__heading
    color: #31343B
    text-transform: uppercase
  &__subheading
    color: #31343B 
    margin-bottom: 50px    
  &__box
    margin-bottom: 20px   
    background-color: #fff
    padding: 40px 10px 35px 100px 
    +bs(0px 4px 8px rgba(0, 0, 0, 0.0980392156862745))
    position: relative
    &:hover
      .scheme
        &__number
          color: #FDAD00
  &__name
    font: 300 32px/36px $roboto
    color: #31343B
    margin-bottom: 30px
  &__info
    font: 400 14px/24px $roboto
    color: #333333
    &--span
      margin-right: 10px
      color: rgba(49, 52, 59, 0.5)
  &__number
    position: absolute
    left: 0
    top: 10px    
    font: 300 80px/80px $roboto
    color: rgba(49, 52, 59, 0.5)
+comment("advice style") 
.advice
  padding: 90px 0
  background: url(../img/advicebg.png) no-repeat
  +cover
  position: relative
  &__bg
    position: absolute
    height: 100%
    width: 100%
    top: 0
    left: 0
    background-color: rgba(49, 52, 59, 0.7)
+comment("make style")
.make
  padding: 60px 0
  &__heading
    text-transform: uppercase
    color: #31343B
  &__subheading
    margin-bottom: 50px 
    color: #31343B
  &__slider
    margin-bottom: 20px  
    .slick
      &-prev
        left: 0
      &-next
        right: 0  
      &-prev,
      &-next
        top: 200px
        z-index: 25
        font-size: 0
        line-height: 0
        height: 60px
        width: 60px
        background-color: rgba(0,0,0,0.5)
        &:hover
          background-color: rgba(0,0,0,0.8)
        &:before
          content: ''
          font-size: 0
        .fa
          font-size: 60px
          color: #fff
.slider
  &__item
    height: 480px  
    &--hover
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      background-color: rgba(255, 197, 0, 0.8)
      visibility: hidden
      opacity: 0
      text-align: center
      line-height: 90px
    &--small
      height: 90px  
      padding: 0 10px
    &--box
      position: relative  
      +transition(all .3s ease-out)
      &:hover
        cursor: pointer
        .slider__item--hover
          visibility: visible
          opacity: 1
          +transition(all .3s ease-out)