+comment('general style')
+ic
.text-danger
  color: #e74c3c
  text-align: left
+comment("home page style")
html
  overflow-x: hidden
  background-color: #f3f3f3
  height: 100%
body
  padding-right: 0 !important  
a,
a:hover,
a:focus
  color: inherit
  text-decoration: none
  outline: none  
+comment("header style") 
.navbar
  background-color: green
  &__brand
    height: auto
    padding: 18px 0
    width: 140px
  &__nav
    padding-top: 20px  
  &__point  
    font: 400 14px/14px $roboto
    color: #fff
  &__phone
    padding-top: 35px  
.brand
  &__descr
    font-size: 8px
    color: #fff
    text-align: left
    line-height: 16px
.phone
  &__link
    font: 400 18px/20px $roboto
    color: #fff
    text-align: right